body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
.jumbotron{
    padding: 0;
    margin-bottom:0;
}

.banner{
    width:100%;
    background-repeat: no-repeat;
}

.about{
    background-color: #ffc4b5;
    color:#ff6949;
    padding:10px;
    margin-top: 0;
    padding:20px;
}
#about_us_button{
    margin-top:70px;
}
.content{
    font-size:22px;
    font-weight: 100;
}
li{
    list-style: none;
}
.services{
    background-color: #87c3d1;
    color:#f8efd6;
    padding:20px;
}